/* body {
    background-color: #25506a;
}

.logan {
    background-color: #3b5e75a9;
    /* box-shadow: 1px 1px 1px 1px; */


/* .em {
    border: 1px solid rgba(0, 255, 255, 0.701);
    background-color: #3b5e75a9;

    color: aqua;
    border-radius: 10px;
    /* border: none; */


/* h1 {
    color: rgba(0, 255, 255, 0.701);
    letter-spacing: 1px;
}

input {
    border: none;
    letter-spacing: 2px;
    animation-name: in;

}

button {
    border-radius: 10px;
    background: #3b5e75a9;
    border: none;
    color: rgba(0, 255, 255, 0.701);
    transition: 1s;

}

button:hover {
    background: #4c8bb6a9;
    color: azure;
    letter-spacing: 2px;


}




section {
    background-color: bisque;
    text-align: center;
    width: 7px;
    height: 7px;

}

h1,
h3,
.col-md-4 {
    display: none;
}


#conte {
    background-color: aqua;
    height: 50px;
    color: blue;
} */